* {
  border: 2px red solid;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* background-image: url("assets/mkbackground2.png");
  background-size: 100% 100%; */
}

header {
  display: flex;
  justify-content: center;
}

.main-section {    
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 30rem;
}

.classic-section,
.winner-section,
.difficult-section {
  display: flex;
}

.difficult-section,
.classic-section,
.gamebox:hover {
  cursor: pointer;
}

.gamebox:hover {
  background-color: green;
}


.front-page-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
}

.left-aside-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: 2rem;
}

h2 { 
  display: flex;
  align-items: center;
}

button {
  width: 90%;
  height: 100%;
  /* background-color: green; */
}

.gamebox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
  width: 14rem;
}

.avatar {
  height: 4rem;
  width: 4rem;
  z-index: 0;
}

.game-token {
  height: 4rem;
  width: 4rem;
  z-index: 1;
}

.kombat-img {
  height: 26px;
}