* {
  border: 2px red solid;
}

/* DOCUMENT */
body {

}

main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: palevioletred;
  color: white;
}

/* CENTER PAGE */
header {
  display: flex;
  justify-content: center;
  height: 6.5rem;
}

h1 {
  font-size: 3.5rem;
  /* font-weight: bold; */
}

.main-section {    
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 30rem;
}

.classic-section,
.winner-section,
.difficult-section {
  display: flex;
}

.front-page-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamebox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
  width: 14rem;
}

.game-token {
  height: 4rem;
  width: 4rem;
}

.kombat-img {
  height: 26px;
}

/* ASIDES */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  background-color: rebeccapurple;
}

.left-aside-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: 2rem;
}

h2 { 
  display: flex;
  align-items: center;
}

button {
  width: 90%;
  height: 100%;
  /* background-color: green; */
}

.avatar {
  height: 4rem;
  width: 4rem;
  z-index: 0;
}

/* PSUEDO CLASSES */
.gamebox:hover {
  background-color: green;
}

.difficult-section,
.classic-section,
.gamebox:hover {
  cursor: pointer;
}
